ARCON_Connector/ArconConnector/ArconConnector.BusinessLayer/Web References/ARCOSWebDT/ARCOSWebDT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ARCOS/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://ARCOS/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ARCOS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ARCOS/">
      <s:element name="IsConnected">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsConnectedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsConnectedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitializeConnection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pWHO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitializeConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InitializeConnectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConnectionDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoteIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConnectionDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConnectionDetailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnDataTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pValue" type="tns:ARCOSWebDTParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ARCOSWebDTParams">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CommandTypeValue" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ARCOSQuery" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ARCOSSqlParameter" type="tns:ArrayOfARCOSSqlParameter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfARCOSSqlParameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ARCOSSqlParameter" nillable="true" type="tns:ARCOSSqlParameter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ARCOSSqlParameter">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DBType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ParameterName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SqlDBType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SqlValue" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Direction" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="XmlSchemaCollectionDatabase" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XmlSchemaCollectionName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XmlSchemaCollectionOwningSchema" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UdtTypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ByteData" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReturnDataTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnDataTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pValue" type="tns:ARCOSWebDTParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteNonQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pValue" type="tns:ARCOSWebDTParams" />
            <s:element minOccurs="0" maxOccurs="1" name="ARCOSConMode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteNonQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteNonQueryResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnOptimizedDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pValue" type="tns:ARCOSWebDTParams" />
            <s:element minOccurs="0" maxOccurs="1" name="ARCOSConMode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnOptimizedDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnOptimizedDataSetResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServersSupportingServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RemoteIP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServersSupportingServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServersSupportingServerResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsServiceValidatedSMonSys">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pValue" type="tns:ARCOSServiceValidationBAParam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ARCOSServiceValidationBAParam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LOBProfileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HostName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WebReferenceURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="xwd" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsValidateLOBProfile" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsValidateServiceType" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsValidateUserName" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="IsServiceValidatedSMonSysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsServiceValidatedSMonSysResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateARCONDeskInsightHostName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pHostName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pIPAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateARCONDeskInsightHostNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateARCONDeskInsightHostNameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyIPAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pHostName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pIPAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMyIPAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMyIPAddressResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsADAuthenticatedWithARCOS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pAuthType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pDomain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDomainName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsADAuthenticatedWithARCOSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsADAuthenticatedWithARCOSResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsADAuthenticatedWithARCOSLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pAuthType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pDomain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pDomainName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsADAuthenticatedWithARCOSLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsADAuthenticatedWithARCOSLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDisplayName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pDomain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pFindForUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDisplayNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserDisplayNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserEmailID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pDomain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pFindForUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserEmailIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserEmailIDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SessionLogData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pValue" type="tns:ARCOSSessionLog" />
            <s:element minOccurs="0" maxOccurs="1" name="ARCOSConMode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ARCOSSessionLog">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommandTyped" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommandResponse" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCommandLogData" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageLog" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="LogNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsCustomLogDateTime" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LogDateTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="SessionLogDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SessionLogDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSessionLogData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pSessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSessionLogDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSessionLogDataResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSOTPToUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objUDFSMSOTP" type="tns:UserDualFactorOTP" />
            <s:element minOccurs="1" maxOccurs="1" name="pIsDirectConnect" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserDualFactorOTP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsEnabled" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="DualFactorID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IMEIMAC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValidationPassword" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValidationKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValidationCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CommonDetails" type="tns:ObjectCommonProperties" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ObjectCommonProperties">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ModifiedBy" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedOn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ValidUntil" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="GetRecordStatus" type="tns:RecordStatus" />
          <s:element minOccurs="1" maxOccurs="1" name="PriorityStatus" type="tns:PriorityMaster" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsImapActive" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSendToGroupAdmin" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="RecordStatus">
        <s:restriction base="s:string">
          <s:enumeration value="NotChanged" />
          <s:enumeration value="Updated" />
          <s:enumeration value="NewAdded" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="PriorityMaster">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Priority1" />
          <s:enumeration value="Priority2" />
          <s:enumeration value="Priority3" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SendSMSOTPToUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMSOTPToUserResult" type="tns:UserDualFactorOTP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSToMobileNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pMobileNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pSMSMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSToMobileNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendSMSToMobileNoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExtendSessionDuration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Action" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TimeBasedAccessID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceSessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccessTypeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SessionDurationDD" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SessionDurationHH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SessionDurationMM" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExtendSessionDurationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExtendSessionDurationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserLastLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserLastLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserLastLoginResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsCommandRestrictedInTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameter" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="IsCommandRestrictedInTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsCommandRestrictedInTimeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVideoFileNameForSessionLogID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pSessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVideoFileNameForSessionLogIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVideoFileNameForSessionLogIDResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLogManagerSetting">
        <s:complexType />
      </s:element>
      <s:element name="GetLogManagerSettingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLogManagerSettingResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConfigurationValue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetConfigurationValueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetConfigurationValueResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFolderTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFolderTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFolderTimeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ARCONPAM_Validate_Setkey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fromdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="todate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LicenseKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ARCONPAM_Validate_SetkeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ARCONPAM_Validate_SetkeyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertAPEMToolLogs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ActionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EnvelopeNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EventName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="EnvelopeGeneratedOn" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="EnvelopeGeneratedBy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TypeOfService" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerIPAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LogDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="CreatedOn" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertAPEMToolLogsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertAPEMToolLogsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="boolean" type="s:boolean" />
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
      <s:element name="int" type="s:int" />
    </s:schema>
    <s:schema targetNamespace="http://ARCOS/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsConnectedSoapIn">
    <wsdl:part name="parameters" element="tns:IsConnected" />
  </wsdl:message>
  <wsdl:message name="IsConnectedSoapOut">
    <wsdl:part name="parameters" element="tns:IsConnectedResponse" />
  </wsdl:message>
  <wsdl:message name="InitializeConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:InitializeConnection" />
  </wsdl:message>
  <wsdl:message name="InitializeConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:InitializeConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="GetConnectionDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetConnectionDetail" />
  </wsdl:message>
  <wsdl:message name="GetConnectionDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetConnectionDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnDataTableSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnDataTable" />
  </wsdl:message>
  <wsdl:message name="ReturnDataTableSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnDataTableResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnDataSet" />
  </wsdl:message>
  <wsdl:message name="ReturnDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteNonQuerySoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteNonQuery" />
  </wsdl:message>
  <wsdl:message name="ExecuteNonQuerySoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteNonQueryResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnOptimizedDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnOptimizedDataSet" />
  </wsdl:message>
  <wsdl:message name="ReturnOptimizedDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnOptimizedDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="GetServersSupportingServerSoapIn">
    <wsdl:part name="parameters" element="tns:GetServersSupportingServer" />
  </wsdl:message>
  <wsdl:message name="GetServersSupportingServerSoapOut">
    <wsdl:part name="parameters" element="tns:GetServersSupportingServerResponse" />
  </wsdl:message>
  <wsdl:message name="IsServiceValidatedSMonSysSoapIn">
    <wsdl:part name="parameters" element="tns:IsServiceValidatedSMonSys" />
  </wsdl:message>
  <wsdl:message name="IsServiceValidatedSMonSysSoapOut">
    <wsdl:part name="parameters" element="tns:IsServiceValidatedSMonSysResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateARCONDeskInsightHostNameSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateARCONDeskInsightHostName" />
  </wsdl:message>
  <wsdl:message name="UpdateARCONDeskInsightHostNameSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateARCONDeskInsightHostNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetMyIPAddressSoapIn">
    <wsdl:part name="parameters" element="tns:GetMyIPAddress" />
  </wsdl:message>
  <wsdl:message name="GetMyIPAddressSoapOut">
    <wsdl:part name="parameters" element="tns:GetMyIPAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IsADAuthenticatedWithARCOSSoapIn">
    <wsdl:part name="parameters" element="tns:IsADAuthenticatedWithARCOS" />
  </wsdl:message>
  <wsdl:message name="IsADAuthenticatedWithARCOSSoapOut">
    <wsdl:part name="parameters" element="tns:IsADAuthenticatedWithARCOSResponse" />
  </wsdl:message>
  <wsdl:message name="IsADAuthenticatedWithARCOSLoginSoapIn">
    <wsdl:part name="parameters" element="tns:IsADAuthenticatedWithARCOSLogin" />
  </wsdl:message>
  <wsdl:message name="IsADAuthenticatedWithARCOSLoginSoapOut">
    <wsdl:part name="parameters" element="tns:IsADAuthenticatedWithARCOSLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDisplayNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserDisplayName" />
  </wsdl:message>
  <wsdl:message name="GetUserDisplayNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserDisplayNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserEmailIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserEmailID" />
  </wsdl:message>
  <wsdl:message name="GetUserEmailIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserEmailIDResponse" />
  </wsdl:message>
  <wsdl:message name="SessionLogDataSoapIn">
    <wsdl:part name="parameters" element="tns:SessionLogData" />
  </wsdl:message>
  <wsdl:message name="SessionLogDataSoapOut">
    <wsdl:part name="parameters" element="tns:SessionLogDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetSessionLogDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetSessionLogData" />
  </wsdl:message>
  <wsdl:message name="GetSessionLogDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetSessionLogDataResponse" />
  </wsdl:message>
  <wsdl:message name="SendSMSOTPToUserSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMSOTPToUser" />
  </wsdl:message>
  <wsdl:message name="SendSMSOTPToUserSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSOTPToUserResponse" />
  </wsdl:message>
  <wsdl:message name="SendSMSToMobileNoSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMSToMobileNo" />
  </wsdl:message>
  <wsdl:message name="SendSMSToMobileNoSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSToMobileNoResponse" />
  </wsdl:message>
  <wsdl:message name="ExtendSessionDurationSoapIn">
    <wsdl:part name="parameters" element="tns:ExtendSessionDuration" />
  </wsdl:message>
  <wsdl:message name="ExtendSessionDurationSoapOut">
    <wsdl:part name="parameters" element="tns:ExtendSessionDurationResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserLastLoginSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserLastLogin" />
  </wsdl:message>
  <wsdl:message name="UpdateUserLastLoginSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserLastLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IsCommandRestrictedInTimeSoapIn">
    <wsdl:part name="parameters" element="tns:IsCommandRestrictedInTime" />
  </wsdl:message>
  <wsdl:message name="IsCommandRestrictedInTimeSoapOut">
    <wsdl:part name="parameters" element="tns:IsCommandRestrictedInTimeResponse" />
  </wsdl:message>
  <wsdl:message name="GetVideoFileNameForSessionLogIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetVideoFileNameForSessionLogID" />
  </wsdl:message>
  <wsdl:message name="GetVideoFileNameForSessionLogIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetVideoFileNameForSessionLogIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetLogManagerSettingSoapIn">
    <wsdl:part name="parameters" element="tns:GetLogManagerSetting" />
  </wsdl:message>
  <wsdl:message name="GetLogManagerSettingSoapOut">
    <wsdl:part name="parameters" element="tns:GetLogManagerSettingResponse" />
  </wsdl:message>
  <wsdl:message name="GetConfigurationValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetConfigurationValue" />
  </wsdl:message>
  <wsdl:message name="GetConfigurationValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetConfigurationValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetFolderTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetFolderTime" />
  </wsdl:message>
  <wsdl:message name="GetFolderTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetFolderTimeResponse" />
  </wsdl:message>
  <wsdl:message name="ARCONPAM_Validate_SetkeySoapIn">
    <wsdl:part name="parameters" element="tns:ARCONPAM_Validate_Setkey" />
  </wsdl:message>
  <wsdl:message name="ARCONPAM_Validate_SetkeySoapOut">
    <wsdl:part name="parameters" element="tns:ARCONPAM_Validate_SetkeyResponse" />
  </wsdl:message>
  <wsdl:message name="InsertAPEMToolLogsSoapIn">
    <wsdl:part name="parameters" element="tns:InsertAPEMToolLogs" />
  </wsdl:message>
  <wsdl:message name="InsertAPEMToolLogsSoapOut">
    <wsdl:part name="parameters" element="tns:InsertAPEMToolLogsResponse" />
  </wsdl:message>
  <wsdl:message name="IsConnectedHttpGetIn">
    <wsdl:part name="pValue" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsConnectedHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="InitializeConnectionHttpGetIn">
    <wsdl:part name="pWHO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InitializeConnectionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetConnectionDetailHttpGetIn">
    <wsdl:part name="RemoteIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetConnectionDetailHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetServersSupportingServerHttpGetIn">
    <wsdl:part name="Action" type="s:string" />
    <wsdl:part name="ServerID" type="s:string" />
    <wsdl:part name="RemoteIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetServersSupportingServerHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="UpdateARCONDeskInsightHostNameHttpGetIn">
    <wsdl:part name="Action" type="s:string" />
    <wsdl:part name="pHostName" type="s:string" />
    <wsdl:part name="pIPAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateARCONDeskInsightHostNameHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetMyIPAddressHttpGetIn">
    <wsdl:part name="Action" type="s:string" />
    <wsdl:part name="pHostName" type="s:string" />
    <wsdl:part name="pIPAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMyIPAddressHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IsADAuthenticatedWithARCOSHttpGetIn">
    <wsdl:part name="pAuthType" type="s:string" />
    <wsdl:part name="pDomain" type="s:string" />
    <wsdl:part name="pUserName" type="s:string" />
    <wsdl:part name="pPassword" type="s:string" />
    <wsdl:part name="pDomainName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsADAuthenticatedWithARCOSHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="IsADAuthenticatedWithARCOSLoginHttpGetIn">
    <wsdl:part name="pAuthType" type="s:string" />
    <wsdl:part name="pDomain" type="s:string" />
    <wsdl:part name="pUserName" type="s:string" />
    <wsdl:part name="pPassword" type="s:string" />
    <wsdl:part name="pDomainName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsADAuthenticatedWithARCOSLoginHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserDisplayNameHttpGetIn">
    <wsdl:part name="pDomain" type="s:string" />
    <wsdl:part name="pUserName" type="s:string" />
    <wsdl:part name="pPassword" type="s:string" />
    <wsdl:part name="pFindForUsername" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserDisplayNameHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserEmailIDHttpGetIn">
    <wsdl:part name="pDomain" type="s:string" />
    <wsdl:part name="pUserName" type="s:string" />
    <wsdl:part name="pPassword" type="s:string" />
    <wsdl:part name="pFindForUsername" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserEmailIDHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSessionLogDataHttpGetIn">
    <wsdl:part name="pSessionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSessionLogDataHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="SendSMSToMobileNoHttpGetIn">
    <wsdl:part name="pMobileNo" type="s:string" />
    <wsdl:part name="pSMSMessage" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSMSToMobileNoHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ExtendSessionDurationHttpGetIn">
    <wsdl:part name="Action" type="s:string" />
    <wsdl:part name="TimeBasedAccessID" type="s:string" />
    <wsdl:part name="ServiceSessionID" type="s:string" />
    <wsdl:part name="AccessTypeID" type="s:string" />
    <wsdl:part name="Description" type="s:string" />
    <wsdl:part name="SessionDurationDD" type="s:string" />
    <wsdl:part name="SessionDurationHH" type="s:string" />
    <wsdl:part name="SessionDurationMM" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExtendSessionDurationHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserLastLoginHttpGetIn">
    <wsdl:part name="UserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserLastLoginHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="IsCommandRestrictedInTimeHttpGetIn">
    <wsdl:part name="parameter" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="IsCommandRestrictedInTimeHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetVideoFileNameForSessionLogIDHttpGetIn">
    <wsdl:part name="pSessionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetVideoFileNameForSessionLogIDHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetLogManagerSettingHttpGetIn" />
  <wsdl:message name="GetLogManagerSettingHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetConfigurationValueHttpGetIn">
    <wsdl:part name="Id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetConfigurationValueHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetFolderTimeHttpGetIn">
    <wsdl:part name="Filename" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFolderTimeHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ARCONPAM_Validate_SetkeyHttpGetIn">
    <wsdl:part name="strID" type="s:string" />
    <wsdl:part name="fromdate" type="s:string" />
    <wsdl:part name="todate" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
    <wsdl:part name="Mode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ARCONPAM_Validate_SetkeyHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertAPEMToolLogsHttpGetIn">
    <wsdl:part name="ActionType" type="s:string" />
    <wsdl:part name="FileName" type="s:string" />
    <wsdl:part name="EnvelopeNo" type="s:string" />
    <wsdl:part name="EventName" type="s:string" />
    <wsdl:part name="EnvelopeGeneratedOn" type="s:string" />
    <wsdl:part name="EnvelopeGeneratedBy" type="s:string" />
    <wsdl:part name="TypeOfService" type="s:string" />
    <wsdl:part name="ServerIPAddress" type="s:string" />
    <wsdl:part name="ServerName" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Domain" type="s:string" />
    <wsdl:part name="Description1" type="s:string" />
    <wsdl:part name="Description2" type="s:string" />
    <wsdl:part name="Description3" type="s:string" />
    <wsdl:part name="Comments" type="s:string" />
    <wsdl:part name="LogDate" type="s:string" />
    <wsdl:part name="CreatedOn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertAPEMToolLogsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IsConnectedHttpPostIn">
    <wsdl:part name="pValue" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsConnectedHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="InitializeConnectionHttpPostIn">
    <wsdl:part name="pWHO" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InitializeConnectionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetConnectionDetailHttpPostIn">
    <wsdl:part name="RemoteIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetConnectionDetailHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetServersSupportingServerHttpPostIn">
    <wsdl:part name="Action" type="s:string" />
    <wsdl:part name="ServerID" type="s:string" />
    <wsdl:part name="RemoteIP" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetServersSupportingServerHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="UpdateARCONDeskInsightHostNameHttpPostIn">
    <wsdl:part name="Action" type="s:string" />
    <wsdl:part name="pHostName" type="s:string" />
    <wsdl:part name="pIPAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateARCONDeskInsightHostNameHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetMyIPAddressHttpPostIn">
    <wsdl:part name="Action" type="s:string" />
    <wsdl:part name="pHostName" type="s:string" />
    <wsdl:part name="pIPAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMyIPAddressHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IsADAuthenticatedWithARCOSHttpPostIn">
    <wsdl:part name="pAuthType" type="s:string" />
    <wsdl:part name="pDomain" type="s:string" />
    <wsdl:part name="pUserName" type="s:string" />
    <wsdl:part name="pPassword" type="s:string" />
    <wsdl:part name="pDomainName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsADAuthenticatedWithARCOSHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="IsADAuthenticatedWithARCOSLoginHttpPostIn">
    <wsdl:part name="pAuthType" type="s:string" />
    <wsdl:part name="pDomain" type="s:string" />
    <wsdl:part name="pUserName" type="s:string" />
    <wsdl:part name="pPassword" type="s:string" />
    <wsdl:part name="pDomainName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IsADAuthenticatedWithARCOSLoginHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserDisplayNameHttpPostIn">
    <wsdl:part name="pDomain" type="s:string" />
    <wsdl:part name="pUserName" type="s:string" />
    <wsdl:part name="pPassword" type="s:string" />
    <wsdl:part name="pFindForUsername" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserDisplayNameHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUserEmailIDHttpPostIn">
    <wsdl:part name="pDomain" type="s:string" />
    <wsdl:part name="pUserName" type="s:string" />
    <wsdl:part name="pPassword" type="s:string" />
    <wsdl:part name="pFindForUsername" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUserEmailIDHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSessionLogDataHttpPostIn">
    <wsdl:part name="pSessionID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSessionLogDataHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="SendSMSToMobileNoHttpPostIn">
    <wsdl:part name="pMobileNo" type="s:string" />
    <wsdl:part name="pSMSMessage" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendSMSToMobileNoHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="ExtendSessionDurationHttpPostIn">
    <wsdl:part name="Action" type="s:string" />
    <wsdl:part name="TimeBasedAccessID" type="s:string" />
    <wsdl:part name="ServiceSessionID" type="s:string" />
    <wsdl:part name="AccessTypeID" type="s:string" />
    <wsdl:part name="Description" type="s:string" />
    <wsdl:part name="SessionDurationDD" type="s:string" />
    <wsdl:part name="SessionDurationHH" type="s:string" />
    <wsdl:part name="SessionDurationMM" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExtendSessionDurationHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserLastLoginHttpPostIn">
    <wsdl:part name="UserID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateUserLastLoginHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="IsCommandRestrictedInTimeHttpPostIn">
    <wsdl:part name="parameter" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="IsCommandRestrictedInTimeHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="GetVideoFileNameForSessionLogIDHttpPostIn">
    <wsdl:part name="pSessionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetVideoFileNameForSessionLogIDHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetLogManagerSettingHttpPostIn" />
  <wsdl:message name="GetLogManagerSettingHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetConfigurationValueHttpPostIn">
    <wsdl:part name="Id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetConfigurationValueHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetFolderTimeHttpPostIn">
    <wsdl:part name="Filename" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFolderTimeHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="ARCONPAM_Validate_SetkeyHttpPostIn">
    <wsdl:part name="strID" type="s:string" />
    <wsdl:part name="fromdate" type="s:string" />
    <wsdl:part name="todate" type="s:string" />
    <wsdl:part name="LicenseKey" type="s:string" />
    <wsdl:part name="Mode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ARCONPAM_Validate_SetkeyHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="InsertAPEMToolLogsHttpPostIn">
    <wsdl:part name="ActionType" type="s:string" />
    <wsdl:part name="FileName" type="s:string" />
    <wsdl:part name="EnvelopeNo" type="s:string" />
    <wsdl:part name="EventName" type="s:string" />
    <wsdl:part name="EnvelopeGeneratedOn" type="s:string" />
    <wsdl:part name="EnvelopeGeneratedBy" type="s:string" />
    <wsdl:part name="TypeOfService" type="s:string" />
    <wsdl:part name="ServerIPAddress" type="s:string" />
    <wsdl:part name="ServerName" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Domain" type="s:string" />
    <wsdl:part name="Description1" type="s:string" />
    <wsdl:part name="Description2" type="s:string" />
    <wsdl:part name="Description3" type="s:string" />
    <wsdl:part name="Comments" type="s:string" />
    <wsdl:part name="LogDate" type="s:string" />
    <wsdl:part name="CreatedOn" type="s:string" />
  </wsdl:message>
  <wsdl:message name="InsertAPEMToolLogsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ARCOSWebDTSoap">
    <wsdl:operation name="IsConnected">
      <wsdl:input message="tns:IsConnectedSoapIn" />
      <wsdl:output message="tns:IsConnectedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InitializeConnection">
      <wsdl:input message="tns:InitializeConnectionSoapIn" />
      <wsdl:output message="tns:InitializeConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionDetail">
      <wsdl:input message="tns:GetConnectionDetailSoapIn" />
      <wsdl:output message="tns:GetConnectionDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnDataTable">
      <wsdl:input message="tns:ReturnDataTableSoapIn" />
      <wsdl:output message="tns:ReturnDataTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnDataSet">
      <wsdl:input message="tns:ReturnDataSetSoapIn" />
      <wsdl:output message="tns:ReturnDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <wsdl:input message="tns:ExecuteNonQuerySoapIn" />
      <wsdl:output message="tns:ExecuteNonQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnOptimizedDataSet">
      <wsdl:input message="tns:ReturnOptimizedDataSetSoapIn" />
      <wsdl:output message="tns:ReturnOptimizedDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServersSupportingServer">
      <wsdl:input message="tns:GetServersSupportingServerSoapIn" />
      <wsdl:output message="tns:GetServersSupportingServerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsServiceValidatedSMonSys">
      <wsdl:input message="tns:IsServiceValidatedSMonSysSoapIn" />
      <wsdl:output message="tns:IsServiceValidatedSMonSysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateARCONDeskInsightHostName">
      <wsdl:input message="tns:UpdateARCONDeskInsightHostNameSoapIn" />
      <wsdl:output message="tns:UpdateARCONDeskInsightHostNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMyIPAddress">
      <wsdl:input message="tns:GetMyIPAddressSoapIn" />
      <wsdl:output message="tns:GetMyIPAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsADAuthenticatedWithARCOS">
      <wsdl:input message="tns:IsADAuthenticatedWithARCOSSoapIn" />
      <wsdl:output message="tns:IsADAuthenticatedWithARCOSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsADAuthenticatedWithARCOSLogin">
      <wsdl:input message="tns:IsADAuthenticatedWithARCOSLoginSoapIn" />
      <wsdl:output message="tns:IsADAuthenticatedWithARCOSLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDisplayName">
      <wsdl:input message="tns:GetUserDisplayNameSoapIn" />
      <wsdl:output message="tns:GetUserDisplayNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserEmailID">
      <wsdl:input message="tns:GetUserEmailIDSoapIn" />
      <wsdl:output message="tns:GetUserEmailIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SessionLogData">
      <wsdl:input message="tns:SessionLogDataSoapIn" />
      <wsdl:output message="tns:SessionLogDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionLogData">
      <wsdl:input message="tns:GetSessionLogDataSoapIn" />
      <wsdl:output message="tns:GetSessionLogDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMSOTPToUser">
      <wsdl:input message="tns:SendSMSOTPToUserSoapIn" />
      <wsdl:output message="tns:SendSMSOTPToUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMSToMobileNo">
      <wsdl:input message="tns:SendSMSToMobileNoSoapIn" />
      <wsdl:output message="tns:SendSMSToMobileNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExtendSessionDuration">
      <wsdl:input message="tns:ExtendSessionDurationSoapIn" />
      <wsdl:output message="tns:ExtendSessionDurationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLastLogin">
      <wsdl:input message="tns:UpdateUserLastLoginSoapIn" />
      <wsdl:output message="tns:UpdateUserLastLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsCommandRestrictedInTime">
      <wsdl:input message="tns:IsCommandRestrictedInTimeSoapIn" />
      <wsdl:output message="tns:IsCommandRestrictedInTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVideoFileNameForSessionLogID">
      <wsdl:input message="tns:GetVideoFileNameForSessionLogIDSoapIn" />
      <wsdl:output message="tns:GetVideoFileNameForSessionLogIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLogManagerSetting">
      <wsdl:input message="tns:GetLogManagerSettingSoapIn" />
      <wsdl:output message="tns:GetLogManagerSettingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationValue">
      <wsdl:input message="tns:GetConfigurationValueSoapIn" />
      <wsdl:output message="tns:GetConfigurationValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFolderTime">
      <wsdl:input message="tns:GetFolderTimeSoapIn" />
      <wsdl:output message="tns:GetFolderTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ARCONPAM_Validate_Setkey">
      <wsdl:input message="tns:ARCONPAM_Validate_SetkeySoapIn" />
      <wsdl:output message="tns:ARCONPAM_Validate_SetkeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertAPEMToolLogs">
      <wsdl:input message="tns:InsertAPEMToolLogsSoapIn" />
      <wsdl:output message="tns:InsertAPEMToolLogsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ARCOSWebDTHttpGet">
    <wsdl:operation name="IsConnected">
      <wsdl:input message="tns:IsConnectedHttpGetIn" />
      <wsdl:output message="tns:IsConnectedHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InitializeConnection">
      <wsdl:input message="tns:InitializeConnectionHttpGetIn" />
      <wsdl:output message="tns:InitializeConnectionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionDetail">
      <wsdl:input message="tns:GetConnectionDetailHttpGetIn" />
      <wsdl:output message="tns:GetConnectionDetailHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServersSupportingServer">
      <wsdl:input message="tns:GetServersSupportingServerHttpGetIn" />
      <wsdl:output message="tns:GetServersSupportingServerHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateARCONDeskInsightHostName">
      <wsdl:input message="tns:UpdateARCONDeskInsightHostNameHttpGetIn" />
      <wsdl:output message="tns:UpdateARCONDeskInsightHostNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMyIPAddress">
      <wsdl:input message="tns:GetMyIPAddressHttpGetIn" />
      <wsdl:output message="tns:GetMyIPAddressHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IsADAuthenticatedWithARCOS">
      <wsdl:input message="tns:IsADAuthenticatedWithARCOSHttpGetIn" />
      <wsdl:output message="tns:IsADAuthenticatedWithARCOSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IsADAuthenticatedWithARCOSLogin">
      <wsdl:input message="tns:IsADAuthenticatedWithARCOSLoginHttpGetIn" />
      <wsdl:output message="tns:IsADAuthenticatedWithARCOSLoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDisplayName">
      <wsdl:input message="tns:GetUserDisplayNameHttpGetIn" />
      <wsdl:output message="tns:GetUserDisplayNameHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserEmailID">
      <wsdl:input message="tns:GetUserEmailIDHttpGetIn" />
      <wsdl:output message="tns:GetUserEmailIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionLogData">
      <wsdl:input message="tns:GetSessionLogDataHttpGetIn" />
      <wsdl:output message="tns:GetSessionLogDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMSToMobileNo">
      <wsdl:input message="tns:SendSMSToMobileNoHttpGetIn" />
      <wsdl:output message="tns:SendSMSToMobileNoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ExtendSessionDuration">
      <wsdl:input message="tns:ExtendSessionDurationHttpGetIn" />
      <wsdl:output message="tns:ExtendSessionDurationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLastLogin">
      <wsdl:input message="tns:UpdateUserLastLoginHttpGetIn" />
      <wsdl:output message="tns:UpdateUserLastLoginHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IsCommandRestrictedInTime">
      <wsdl:input message="tns:IsCommandRestrictedInTimeHttpGetIn" />
      <wsdl:output message="tns:IsCommandRestrictedInTimeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVideoFileNameForSessionLogID">
      <wsdl:input message="tns:GetVideoFileNameForSessionLogIDHttpGetIn" />
      <wsdl:output message="tns:GetVideoFileNameForSessionLogIDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLogManagerSetting">
      <wsdl:input message="tns:GetLogManagerSettingHttpGetIn" />
      <wsdl:output message="tns:GetLogManagerSettingHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationValue">
      <wsdl:input message="tns:GetConfigurationValueHttpGetIn" />
      <wsdl:output message="tns:GetConfigurationValueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFolderTime">
      <wsdl:input message="tns:GetFolderTimeHttpGetIn" />
      <wsdl:output message="tns:GetFolderTimeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ARCONPAM_Validate_Setkey">
      <wsdl:input message="tns:ARCONPAM_Validate_SetkeyHttpGetIn" />
      <wsdl:output message="tns:ARCONPAM_Validate_SetkeyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertAPEMToolLogs">
      <wsdl:input message="tns:InsertAPEMToolLogsHttpGetIn" />
      <wsdl:output message="tns:InsertAPEMToolLogsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ARCOSWebDTHttpPost">
    <wsdl:operation name="IsConnected">
      <wsdl:input message="tns:IsConnectedHttpPostIn" />
      <wsdl:output message="tns:IsConnectedHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InitializeConnection">
      <wsdl:input message="tns:InitializeConnectionHttpPostIn" />
      <wsdl:output message="tns:InitializeConnectionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConnectionDetail">
      <wsdl:input message="tns:GetConnectionDetailHttpPostIn" />
      <wsdl:output message="tns:GetConnectionDetailHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServersSupportingServer">
      <wsdl:input message="tns:GetServersSupportingServerHttpPostIn" />
      <wsdl:output message="tns:GetServersSupportingServerHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateARCONDeskInsightHostName">
      <wsdl:input message="tns:UpdateARCONDeskInsightHostNameHttpPostIn" />
      <wsdl:output message="tns:UpdateARCONDeskInsightHostNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMyIPAddress">
      <wsdl:input message="tns:GetMyIPAddressHttpPostIn" />
      <wsdl:output message="tns:GetMyIPAddressHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IsADAuthenticatedWithARCOS">
      <wsdl:input message="tns:IsADAuthenticatedWithARCOSHttpPostIn" />
      <wsdl:output message="tns:IsADAuthenticatedWithARCOSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IsADAuthenticatedWithARCOSLogin">
      <wsdl:input message="tns:IsADAuthenticatedWithARCOSLoginHttpPostIn" />
      <wsdl:output message="tns:IsADAuthenticatedWithARCOSLoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDisplayName">
      <wsdl:input message="tns:GetUserDisplayNameHttpPostIn" />
      <wsdl:output message="tns:GetUserDisplayNameHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserEmailID">
      <wsdl:input message="tns:GetUserEmailIDHttpPostIn" />
      <wsdl:output message="tns:GetUserEmailIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionLogData">
      <wsdl:input message="tns:GetSessionLogDataHttpPostIn" />
      <wsdl:output message="tns:GetSessionLogDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMSToMobileNo">
      <wsdl:input message="tns:SendSMSToMobileNoHttpPostIn" />
      <wsdl:output message="tns:SendSMSToMobileNoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ExtendSessionDuration">
      <wsdl:input message="tns:ExtendSessionDurationHttpPostIn" />
      <wsdl:output message="tns:ExtendSessionDurationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLastLogin">
      <wsdl:input message="tns:UpdateUserLastLoginHttpPostIn" />
      <wsdl:output message="tns:UpdateUserLastLoginHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IsCommandRestrictedInTime">
      <wsdl:input message="tns:IsCommandRestrictedInTimeHttpPostIn" />
      <wsdl:output message="tns:IsCommandRestrictedInTimeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVideoFileNameForSessionLogID">
      <wsdl:input message="tns:GetVideoFileNameForSessionLogIDHttpPostIn" />
      <wsdl:output message="tns:GetVideoFileNameForSessionLogIDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLogManagerSetting">
      <wsdl:input message="tns:GetLogManagerSettingHttpPostIn" />
      <wsdl:output message="tns:GetLogManagerSettingHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationValue">
      <wsdl:input message="tns:GetConfigurationValueHttpPostIn" />
      <wsdl:output message="tns:GetConfigurationValueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFolderTime">
      <wsdl:input message="tns:GetFolderTimeHttpPostIn" />
      <wsdl:output message="tns:GetFolderTimeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ARCONPAM_Validate_Setkey">
      <wsdl:input message="tns:ARCONPAM_Validate_SetkeyHttpPostIn" />
      <wsdl:output message="tns:ARCONPAM_Validate_SetkeyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertAPEMToolLogs">
      <wsdl:input message="tns:InsertAPEMToolLogsHttpPostIn" />
      <wsdl:output message="tns:InsertAPEMToolLogsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ARCOSWebDTSoap" type="tns:ARCOSWebDTSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsConnected">
      <soap:operation soapAction="http://ARCOS/IsConnected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitializeConnection">
      <soap:operation soapAction="http://ARCOS/InitializeConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectionDetail">
      <soap:operation soapAction="http://ARCOS/GetConnectionDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnDataTable">
      <soap:operation soapAction="http://ARCOS/ReturnDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnDataSet">
      <soap:operation soapAction="http://ARCOS/ReturnDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <soap:operation soapAction="http://ARCOS/ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnOptimizedDataSet">
      <soap:operation soapAction="http://ARCOS/ReturnOptimizedDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServersSupportingServer">
      <soap:operation soapAction="http://ARCOS/GetServersSupportingServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsServiceValidatedSMonSys">
      <soap:operation soapAction="http://ARCOS/IsServiceValidatedSMonSys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateARCONDeskInsightHostName">
      <soap:operation soapAction="http://ARCOS/UpdateARCONDeskInsightHostName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyIPAddress">
      <soap:operation soapAction="http://ARCOS/GetMyIPAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsADAuthenticatedWithARCOS">
      <soap:operation soapAction="http://ARCOS/IsADAuthenticatedWithARCOS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsADAuthenticatedWithARCOSLogin">
      <soap:operation soapAction="http://ARCOS/IsADAuthenticatedWithARCOSLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDisplayName">
      <soap:operation soapAction="http://ARCOS/GetUserDisplayName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserEmailID">
      <soap:operation soapAction="http://ARCOS/GetUserEmailID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionLogData">
      <soap:operation soapAction="http://ARCOS/SessionLogData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionLogData">
      <soap:operation soapAction="http://ARCOS/GetSessionLogData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMSOTPToUser">
      <soap:operation soapAction="http://ARCOS/SendSMSOTPToUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMSToMobileNo">
      <soap:operation soapAction="http://ARCOS/SendSMSToMobileNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtendSessionDuration">
      <soap:operation soapAction="http://ARCOS/ExtendSessionDuration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLastLogin">
      <soap:operation soapAction="http://ARCOS/UpdateUserLastLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCommandRestrictedInTime">
      <soap:operation soapAction="http://ARCOS/IsCommandRestrictedInTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVideoFileNameForSessionLogID">
      <soap:operation soapAction="http://ARCOS/GetVideoFileNameForSessionLogID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogManagerSetting">
      <soap:operation soapAction="http://ARCOS/GetLogManagerSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationValue">
      <soap:operation soapAction="http://ARCOS/GetConfigurationValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFolderTime">
      <soap:operation soapAction="http://ARCOS/GetFolderTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ARCONPAM_Validate_Setkey">
      <soap:operation soapAction="http://ARCOS/ARCONPAM_Validate_Setkey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAPEMToolLogs">
      <soap:operation soapAction="http://ARCOS/InsertAPEMToolLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ARCOSWebDTSoap12" type="tns:ARCOSWebDTSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsConnected">
      <soap12:operation soapAction="http://ARCOS/IsConnected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitializeConnection">
      <soap12:operation soapAction="http://ARCOS/InitializeConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectionDetail">
      <soap12:operation soapAction="http://ARCOS/GetConnectionDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnDataTable">
      <soap12:operation soapAction="http://ARCOS/ReturnDataTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnDataSet">
      <soap12:operation soapAction="http://ARCOS/ReturnDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteNonQuery">
      <soap12:operation soapAction="http://ARCOS/ExecuteNonQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnOptimizedDataSet">
      <soap12:operation soapAction="http://ARCOS/ReturnOptimizedDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServersSupportingServer">
      <soap12:operation soapAction="http://ARCOS/GetServersSupportingServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsServiceValidatedSMonSys">
      <soap12:operation soapAction="http://ARCOS/IsServiceValidatedSMonSys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateARCONDeskInsightHostName">
      <soap12:operation soapAction="http://ARCOS/UpdateARCONDeskInsightHostName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyIPAddress">
      <soap12:operation soapAction="http://ARCOS/GetMyIPAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsADAuthenticatedWithARCOS">
      <soap12:operation soapAction="http://ARCOS/IsADAuthenticatedWithARCOS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsADAuthenticatedWithARCOSLogin">
      <soap12:operation soapAction="http://ARCOS/IsADAuthenticatedWithARCOSLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDisplayName">
      <soap12:operation soapAction="http://ARCOS/GetUserDisplayName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserEmailID">
      <soap12:operation soapAction="http://ARCOS/GetUserEmailID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionLogData">
      <soap12:operation soapAction="http://ARCOS/SessionLogData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionLogData">
      <soap12:operation soapAction="http://ARCOS/GetSessionLogData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMSOTPToUser">
      <soap12:operation soapAction="http://ARCOS/SendSMSOTPToUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMSToMobileNo">
      <soap12:operation soapAction="http://ARCOS/SendSMSToMobileNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtendSessionDuration">
      <soap12:operation soapAction="http://ARCOS/ExtendSessionDuration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLastLogin">
      <soap12:operation soapAction="http://ARCOS/UpdateUserLastLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCommandRestrictedInTime">
      <soap12:operation soapAction="http://ARCOS/IsCommandRestrictedInTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVideoFileNameForSessionLogID">
      <soap12:operation soapAction="http://ARCOS/GetVideoFileNameForSessionLogID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogManagerSetting">
      <soap12:operation soapAction="http://ARCOS/GetLogManagerSetting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationValue">
      <soap12:operation soapAction="http://ARCOS/GetConfigurationValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFolderTime">
      <soap12:operation soapAction="http://ARCOS/GetFolderTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ARCONPAM_Validate_Setkey">
      <soap12:operation soapAction="http://ARCOS/ARCONPAM_Validate_Setkey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAPEMToolLogs">
      <soap12:operation soapAction="http://ARCOS/InsertAPEMToolLogs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ARCOSWebDTHttpGet" type="tns:ARCOSWebDTHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="IsConnected">
      <http:operation location="/IsConnected" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitializeConnection">
      <http:operation location="/InitializeConnection" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectionDetail">
      <http:operation location="/GetConnectionDetail" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServersSupportingServer">
      <http:operation location="/GetServersSupportingServer" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateARCONDeskInsightHostName">
      <http:operation location="/UpdateARCONDeskInsightHostName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyIPAddress">
      <http:operation location="/GetMyIPAddress" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsADAuthenticatedWithARCOS">
      <http:operation location="/IsADAuthenticatedWithARCOS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsADAuthenticatedWithARCOSLogin">
      <http:operation location="/IsADAuthenticatedWithARCOSLogin" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDisplayName">
      <http:operation location="/GetUserDisplayName" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserEmailID">
      <http:operation location="/GetUserEmailID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionLogData">
      <http:operation location="/GetSessionLogData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMSToMobileNo">
      <http:operation location="/SendSMSToMobileNo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtendSessionDuration">
      <http:operation location="/ExtendSessionDuration" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLastLogin">
      <http:operation location="/UpdateUserLastLogin" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCommandRestrictedInTime">
      <http:operation location="/IsCommandRestrictedInTime" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVideoFileNameForSessionLogID">
      <http:operation location="/GetVideoFileNameForSessionLogID" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogManagerSetting">
      <http:operation location="/GetLogManagerSetting" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationValue">
      <http:operation location="/GetConfigurationValue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFolderTime">
      <http:operation location="/GetFolderTime" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ARCONPAM_Validate_Setkey">
      <http:operation location="/ARCONPAM_Validate_Setkey" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAPEMToolLogs">
      <http:operation location="/InsertAPEMToolLogs" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ARCOSWebDTHttpPost" type="tns:ARCOSWebDTHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="IsConnected">
      <http:operation location="/IsConnected" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitializeConnection">
      <http:operation location="/InitializeConnection" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnectionDetail">
      <http:operation location="/GetConnectionDetail" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServersSupportingServer">
      <http:operation location="/GetServersSupportingServer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateARCONDeskInsightHostName">
      <http:operation location="/UpdateARCONDeskInsightHostName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMyIPAddress">
      <http:operation location="/GetMyIPAddress" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsADAuthenticatedWithARCOS">
      <http:operation location="/IsADAuthenticatedWithARCOS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsADAuthenticatedWithARCOSLogin">
      <http:operation location="/IsADAuthenticatedWithARCOSLogin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDisplayName">
      <http:operation location="/GetUserDisplayName" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserEmailID">
      <http:operation location="/GetUserEmailID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionLogData">
      <http:operation location="/GetSessionLogData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMSToMobileNo">
      <http:operation location="/SendSMSToMobileNo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtendSessionDuration">
      <http:operation location="/ExtendSessionDuration" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLastLogin">
      <http:operation location="/UpdateUserLastLogin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCommandRestrictedInTime">
      <http:operation location="/IsCommandRestrictedInTime" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVideoFileNameForSessionLogID">
      <http:operation location="/GetVideoFileNameForSessionLogID" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogManagerSetting">
      <http:operation location="/GetLogManagerSetting" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationValue">
      <http:operation location="/GetConfigurationValue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFolderTime">
      <http:operation location="/GetFolderTime" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ARCONPAM_Validate_Setkey">
      <http:operation location="/ARCONPAM_Validate_Setkey" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAPEMToolLogs">
      <http:operation location="/InsertAPEMToolLogs" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ARCOSWebDT">
    <wsdl:port name="ARCOSWebDTSoap" binding="tns:ARCOSWebDTSoap">
      <soap:address location="http://localhost:5051/ARCOSWebAPI/ARCOSWebDT.asmx" />
    </wsdl:port>
    <wsdl:port name="ARCOSWebDTSoap12" binding="tns:ARCOSWebDTSoap12">
      <soap12:address location="http://localhost:5051/ARCOSWebAPI/ARCOSWebDT.asmx" />
    </wsdl:port>
    <wsdl:port name="ARCOSWebDTHttpGet" binding="tns:ARCOSWebDTHttpGet">
      <http:address location="http://localhost:5051/ARCOSWebAPI/ARCOSWebDT.asmx" />
    </wsdl:port>
    <wsdl:port name="ARCOSWebDTHttpPost" binding="tns:ARCOSWebDTHttpPost">
      <http:address location="http://localhost:5051/ARCOSWebAPI/ARCOSWebDT.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>